{% extends "authenticated_base.html" %}

{% load static %}

{% block workspace_breadcrumb %}Workspace → Model{% endblock %}

{% block extra_css %} <link
     rel="stylesheet"
     href="{% static 'model/css/model.css' %}"
 >
{% endblock %}

{% block content %}

<div class="model-shell">


{% include "model/_sidebar.html" %}

<main class="model-content">
    {% block model_content %}
    {% endblock %}
</main>


</div>

{% endblock %}

{% block extra_js %}
    <script src="{% static 'model/js/sidebar.js' %}"></script>
    <script src="{% static 'model/js/model_editing.js' %}"></script>
    <script src="{% static 'model/js/proposal.js' %}"></script>
{% endblock %}